
Project1/output/out4.txt
Project1/output/out5.txt
Project1/ERL67.zip
Project2/resized_log
Project2/Project2_ERL67_jeb481_cuv4.zip
Project3/IS2750_Spring2024_Group.pdf
Project3/Install_Cassandra.sh
/Project3/base
